html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: black;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}


          /*? NAV BAR */


nav {
  background-color: #1E377A;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  height: 90px;
}


.left{
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

.right {
  margin-left: auto;
}

nav > div > a > button , nav > a > button{
  background-color: #0C40C3;
  border: 5px solid white;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  border: none;
  width: 8rem;
  height: 3rem;
  border-radius: 40px;
}

nav > div > a > button:hover , nav > a > button:hover{
  background-color: #3a58a2;
}


            /*? Main -- User Info */
            

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container{
  display: flex;
  flex-direction: row;
  height: 50vh;
  flex-wrap: wrap;
}

img{
  width: 15vw;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  border: 3px black solid;
}
.user-info{
  display: flex;
  flex-direction: column;
  width: 25vw;
  border-right: 2px black solid;
}

.user-info > h1{
  text-align: center;
}

.user-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 1rem;
  border: 2px black solid;
  padding: 4px 15px;
  background-color: #AEC0FF;
  border-radius: 5px;
  width: 25vw;
}

.user-card > form > button {
  background-color: #6E90ED;
  border: 1px black solid;
  border-radius: 5px;
}
.user-card > form > button:hover {
  background-color: #829adc;

}


    /*? Main -- Daily Summaray */


.daily-summary{
  width: 72vw;
  display: grid;
  grid-template-areas: 'daily daily daily'
              'remaining button button'
              'remaining budget consumed';
  grid-template-rows: .2fr .2fr 1.5fr;
  grid-gap: 20px;
  padding: 0;
  margin: 0;
}

.ds-title{
  margin: 10px 20px 0 20px;
  color: white;
  padding-left: 12px;
  padding-top: 3px;
  width: 73vw;
  background-color: #1E377A;
  height: 2.5rem;
  grid-area: daily;

}

.buttons{
  grid-area: button ;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 1rem;
  margin-bottom: 20px;
}

.buttons > form > button{
  color: white;
  background-color: #0C40C3;
  height: 3rem;
  border-radius: 15px;
  border: 2px solid black;
  width: 20rem;

}
.buttons > form > button:hover{
  background-color: #3a58a2;
}

.calorie-limit{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: budget;
  text-align: center;
}

.calories-consumed{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: consumed;
}

.calories-remaining{
  padding: 2px;
  grid-area: remaining;
  margin-right: 3px;
}

.calories-remaining{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.remaining{
  color: green;
  font-size: 3rem;
}

    /*? Main -- MEALS */

    .meals{
      display: flex;
      flex-direction: row;
      border: 2px red solid;
    }

    